<section class="data-add-container">
	<nav class="nav-bar-tab">
		<ul class="u-list">
			<li class="list-item-tab" ui-sref="insert">Insert</li></li>
			<li class="list-item-tab" ui-sref="history">History</li></li>
		</ul>
	</nav>
	<div class="info-table">
		<ul class="player-icon">
			<li ng-repeat="players in history.playerData.playerData" id={{players[0].name}}>
				<button ng-click="history.remove(players[0].name, players[0].id)">Delete</button>
				<div class="nameIcon" ui-sref="playerdata({name: [players[0].name]})">
					{{players[0].name}}
				</div>
			</li>
		</ul>
	</div>
</section>