<div class="leaderboardCont">
	<div class="leadCont">
		<ul class="namingContLead" >
			<li class="namingLeadItem" ng-repeat="(key, value) in board.namingLead">
				<span class="namingLeadText">{{value}}</span>

			</li>
		</ul>
		<ul class="leadList" ng-repeat="key in board.playerLeadArrLength" color="{{board.playerLeaderboard[key].color}}" ng-class="board.playerLeaderboard[key].color === 'Gold' || board.playerLeaderboard[key].color === 'Silver' || board.playerLeaderboard[key].color === 'Bronze' ? 'position' : 'default'">
			<li ng-repeat="keyss in board.playerLeaderboard[key] track by $index" ng-if="$index !== 4" class="place">
				{{keyss}}
			</li>
		</ul>
	</div>
</div>
