<section class="data-add-container">
	<nav class="nav-bar-tab">
		<ul class="u-list">
			<li class="list-item-tab" ng-click="tables.addScreen()">Insert</li></li>
			<li class="list-item-tab" ng-click="tables.historyScreen()">History</li></li>
		</ul>
	</nav>
	<div class="info-table">
		<div class="matchSelect">
			<select ng-class="{true: 'gimmick'}[tables.setAttrName()]" ng-model="tables.test.current" ng-options="x for x in tables.matchesDisp"></select>
		</div>
		<ul class="info-u-list">
			<li class="insert-list-item">
				<input list="names" ng-model="tables.test.name">
				<datalist id="names"></datalist>
			</li>
			<li class="insert-list-item">
				<select id="fullFirst" ng-class="{true: 'dropdown-menu'}[tables.changeClass()]" ng-model="tables.test.goalsMain[tables.test.current[0]]" ng-options="x for x in tables.numbers" >
				</select>
				<span>-</span>
				<select id="fullSecond" ng-class="{true: 'dropdown-menu'}[tables.changeClass()]" ng-model="tables.test.goalsMain[tables.test.current[1]]" ng-options="x for x in tables.numbers">
				</select>
			</li>
			<li class="insert-list-item">
				<select id="addedFirst" ng-class="{true: 'dropdown-menu'}[tables.changeClass()]" ng-model="tables.test.goalsAdded[tables.test.current[0]]" ng-options="x for x in tables.numbers">
				</select>
				<span>-</span>
				<select id="addedSecond" ng-class="{true: 'dropdown-menu'}[tables.changeClass()]" ng-model="tables.test.goalsAdded[tables.test.current[1]]" ng-options="x for x in tables.numbers">
				</select>
			</li>
			<li id="pen" class="insert-list-item">
				<select id="penalties" ng-class="{true: 'dropdown-menu'}[tables.changeClass()]" ng-model="tables.test.penalties" ng-options="x for x in tables.test.current">
				</select>
			</li>
			<li class="insert-list-item">
				<div id="teamNames">
					<span id="first" >{{tables.test.current[0]}}</span>
					<span id="second">{{tables.test.current[1]}}</span>
				</div>
			</li>
		</ul>
		<button class="saveBtn" ng-click="tables.click()">Save</button>

	</div>
	<div class="history-table">
		<ul class="logs">

		</ul>
	</div>
</section>