<section class="data-add-container">
	<nav class="nav-bar-tab">
		<ul class="u-list">
			<li class="list-item-tab"><span>Add guesses</span></li>
		</ul>
	</nav>
	<div class="info-table">
		<div>
			<select id="teamsList" ng-model="tables.test.current" ng-options="x for x in tables.matchesDisp"></select>
		</div>
		<ul class="info-u-list">
			<li class="insert-list-item">
				<span class="naming">Name</span>
				<input list="names" ng-model="tables.test.name">
				<datalist id="names"></datalist>
			</li>
			<li class="insert-list-item">
				<select class="dropdown-menu" ng-model="tables.test.goalsMain[tables.test.current[0]]" ng-options="x for x in tables.numbers">
				</select>
				<span>-</span>
				<select class="dropdown-menu" ng-model="tables.test.goalsMain[tables.test.current[1]]" ng-options="x for x in tables.numbers">
				</select>
			</li>
			<li class="insert-list-item">
				<select class="dropdown-menu" ng-model="tables.test.goalsAdded[tables.test.current[0]]" ng-options="x for x in tables.numbers">
				</select>
				<span>-</span>
				<select class="dropdown-menu" ng-model="tables.test.goalsAdded[tables.test.current[1]]" ng-options="x for x in tables.numbers">
				</select>
			</li>
			<li class="insert-list-item">
				<select class="dropdown-menu" ng-model="tables.test.penalties" ng-options="x for x in tables.test.current">
				</select>
			</li>
			<li class="insert-list-item">
				<div>
					<span>{{tables.test.current}}</span>
				</div>
			</li>
			<li><button class="saveBtn" ng-click="tables.click()">Save</button></li>
		</ul>

	</div>
</section>